<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.ag"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

<!-- 
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
            <property name="driverClassName" value="oracle.jdbc.OracleDriver"/> 
            <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
            <property name="username" value="macro"/>
            <property name="password" value="macro2013"/>
        </bean>
       
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
            <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>            
            <property name="url" value="jdbc:oracle:thin:@coppnceoprd-scan:1521:PRODUC2"/>
            <property name="username" value="macro"/>
            <property name="password" value="m4cr02013"/>
     </bean>    
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
            <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>            
            <property name="url" value="jdbc:oracle:thin:@172.18.1.52:1521:DESA"/>
            <property name="username" value="macro"/>
            <property name="password" value="k3gt2s6j"/>
     </bean>
      
     
      --> 
      <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
            <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>            
            <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
            <property name="username" value="simbal_eca"/>
            <property name="password" value="simbal_eca"/>
     </bean>
      
     
     
      
    <bean id="hibernateProperties" 
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                <prop key="hibernate.query.substitutions">true 'T', false 'F'</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.c3p0.minPoolSize">5</prop>
                <prop key="hibernate.c3p0.maxPoolSize">20</prop>
                <prop key="hibernate.c3p0.timeout">600</prop>
                <prop key="hibernate.c3p0.max_statement">50</prop>
                <prop key="hibernate.c3p0.testConnectionOnCheckout">false</prop>
				<prop key="hibernate.validator.apply_to_ddl">false</prop>
                <prop key="hibernate.validator.autoregister_listeners">false</prop>

            </props>
        </property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <ref bean="hibernateProperties" />
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.ag.model.Usuario</value>
                <value>com.ag.model.UsuarioPerfil</value>
                <value>com.ag.model.UsuarioPerfilPK</value>
                <value>com.ag.model.MenuPerfil</value>
                <value>com.ag.model.MenuPerfilPK</value>
                <value>com.ag.model.Menu</value>
                <value>com.ag.model.Perfil</value>
                <value>com.ag.model.Funcion</value>
                <value>com.ag.model.FuncionPerfil</value>
                <value>com.ag.model.FuncionPerfilPK</value>
                <value>com.ag.model.Tbltipo</value>
                <value>com.ag.model.AtrComponente</value>
                <value>com.ag.model.AtrComponenteMedida</value>
                <value>com.ag.model.AtrComponenteMedidaPK</value>
                <value>com.ag.model.BalancesPK</value>
                <value>com.ag.model.Balances</value>
                <value>com.ag.model.Campania</value>
                <value>com.ag.model.CargaExtraPK</value>
                <value>com.ag.model.CargaExtra</value>
                <value>com.ag.model.Ciclo</value>
                <value>com.ag.model.Color</value>
                <value>com.ag.model.Componente</value>
                <value>com.ag.model.ComponenteMedida</value>
                <value>com.ag.model.ComponenteCampania</value>
                <value>com.ag.model.Criterio</value>
                <value>com.ag.model.Empresa</value>
                <value>com.ag.model.Estado</value>
                <value>com.ag.model.Filtros</value>
                <value>com.ag.model.Grupo</value>
              
                <value>com.ag.model.Medida</value>
                <value>com.ag.model.MedidaPK</value>
                <value>com.ag.model.Novedades</value>
                <value>com.ag.model.NovedadesPK</value>
                <value>com.ag.model.OrdenTrabajo</value>                
                <value>com.ag.model.Parametro</value>
                <value>com.ag.model.RangoClasificacion</value>
                <value>com.ag.model.RelComponente</value>
                <value>com.ag.model.RelComponenteMedida</value>
                <value>com.ag.model.RelComponenteMedidaPK</value>
                <value>com.ag.model.RelComponentePK</value>
                <value>com.ag.model.RelComponenteUbicacion</value>
                <value>com.ag.model.RelComponenteUbicacionPK</value>
                <value>com.ag.model.Tblconsecutivo</value>
                <value>com.ag.model.TipoComponente</value>
                <value>com.ag.model.ZonaGeografica</value>
                <value>com.ag.model.Variables</value>

                 <value>com.ag.model.SAtrComponente</value>
                <value>com.ag.model.SAtrComponenteMedida</value>
                <value>com.ag.model.SAtrComponenteMedidaPK</value>
                <value>com.ag.model.SBalances</value>
                <value>com.ag.model.SBalancesPK</value>
                <value>com.ag.model.SComponente</value>
                <value>com.ag.model.SComponenteMedida</value>
                <value>com.ag.model.SMedida</value>
                <value>com.ag.model.SMedidaPK</value>
                <value>com.ag.model.SRelComponente</value>
                <value>com.ag.model.SRelComponenteMedida</value>
                <value>com.ag.model.SRelComponenteMedidaPK</value>
                <value>com.ag.model.SRelComponentePK</value>
                <value>com.ag.model.SRelComponenteUbicacion</value>
                <value>com.ag.model.SRelComponenteUbicacionPK</value>
                <value>com.ag.model.SHistRelComponente</value>
                <value>com.ag.model.SHistRelComponentePK</value>
                <value>com.ag.model.SHistRelComponenteUbica</value>
                <value>com.ag.model.SHistRelComponenteUbicaPK</value>
                <value>com.ag.model.SCargaExtra</value>
                <value>com.ag.model.ComponenteCampania</value>
                <value>com.ag.model.ComponenteCampaniaPK</value>
                <value>com.ag.model.SVistaAmarres</value> 
                <value>com.ag.model.LogAuditoria</value> 
                


            </list>
        </property>
        
    </bean>

</beans>
