<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <!--<property name="hibernate.connection.url">jdbc:oracle:thin:@54.187.129.20:1521:XE</property>
    <property name="hibernate.connection.username">simbal_ceo</property>
    <property name="hibernate.connection.password">macro2012</property>-->
    <property name="hibernate.connection.url">jdbc:oracle:thin:@172.18.1.52:1521:DESA</property>
    <property name="hibernate.connection.username">macro</property>
    <property name="hibernate.connection.password">k3gt2s6j</property>

                <mapping class="com.ag.model.Funcion" />
                <mapping class="com.ag.model.FuncionPerfil" />
                <mapping class="com.ag.model.FuncionPerfilPK" />
                <mapping class="com.ag.model.Menu" />
                <mapping class="com.ag.model.MenuPerfil" />
                <mapping class="com.ag.model.MenuPerfilPK" />
                <mapping class="com.ag.model.Perfil" />
                <mapping class="com.ag.model.Tbltipo" />
                <mapping class="com.ag.model.Usuario" />
                <mapping class="com.ag.model.UsuarioPerfil" />
                <mapping class="com.ag.model.UsuarioPerfilPK" />
                <mapping class="com.ag.model.AtrComponente"/>
                <mapping class="com.ag.model.AtrComponenteMedida"/>
                <mapping class="com.ag.model.BalancesPK"/>
                <mapping class="com.ag.model.Balances"/>
                <mapping class="com.ag.model.CargaExtraPK"/>
                <mapping class="com.ag.model.CargaExtra"/>
                <mapping class="com.ag.model.Ciclo"/>
                <mapping class="com.ag.model.Color"/>
                <mapping class="com.ag.model.Componente"/>
                <mapping class="com.ag.model.ComponenteMedida"/>
                <mapping class="com.ag.model.Empresa"/>
                <mapping class="com.ag.model.Estado"/>
                <mapping class="com.ag.model.Grupo"/>
                <mapping class="com.ag.model.Medida"/>
                <mapping class="com.ag.model.MedidaPK"/>
                <mapping class="com.ag.model.Parametro"/>
                <mapping class="com.ag.model.RangoClasificacion"/>
                <mapping class="com.ag.model.RelComponente"/>
                <mapping class="com.ag.model.RelComponenteMedida"/>
                <mapping class="com.ag.model.RelComponenteMedidaPK"/>
                <mapping class="com.ag.model.RelComponentePK"/>
                <mapping class="com.ag.model.RelComponenteUbicacion"/>
                <mapping class="com.ag.model.RelComponenteUbicacionPK"/>
                <mapping class="com.ag.model.Tblconsecutivo"/>
                <mapping class="com.ag.model.TipoComponente"/>
                <mapping class="com.ag.model.ZonaGeografica"/>
                <mapping class="com.ag.model.Nodo"/>
                <mapping class="com.ag.model.OrdenTrabajo"/>
                <mapping class="com.ag.model.Campania"/>
                
                <mapping class="com.ag.model.Novedades"/>
                <mapping class="com.ag.model.NovedadesPK"/>
                <mapping class="com.ag.model.Variables"/>
                <mapping class="com.ag.model.Filtros"/>
                <mapping class="com.ag.model.Criterio"/>
                <mapping class="com.ag.model.ComponenteCampania"/>
                
                <mapping class="com.ag.model.SAtrComponente"/>
                <mapping class="com.ag.model.SAtrComponenteMedida"/>
                <mapping class="com.ag.model.SAtrComponenteMedidaPK"/>
                <mapping class="com.ag.model.SBalances"/>
                <mapping class="com.ag.model.SBalancesPK"/>
                <mapping class="com.ag.model.SComponente"/>
                <mapping class="com.ag.model.SComponenteMedida"/>
                <mapping class="com.ag.model.SMedida"/> 
                <mapping class="com.ag.model.SMedidaPK"/> 
                <mapping class="com.ag.model.SRelComponente"/> 
                <mapping class="com.ag.model.SRelComponenteMedida"/> 
                <mapping class="com.ag.model.SRelComponenteMedidaPK"/> 
                <mapping class="com.ag.model.SRelComponentePK"/> 
                <mapping class="com.ag.model.SRelComponenteUbicacion"/> 
                <mapping class="com.ag.model.SRelComponenteUbicacionPK"/>
                
                <mapping class="com.ag.model.SHistRelComponente"/>
                <mapping class="com.ag.model.SHistRelComponentePK"/>
                <mapping class="com.ag.model.SHistRelComponenteUbica"/>
                <mapping class="com.ag.model.SHistRelComponenteUbicaPK"/>
                
                <mapping class="com.ag.model.SCargaExtra"/>
                <mapping class="com.ag.model.SCargaExtraPK"/>
                <mapping class="com.ag.model.SVistaAmarres"/>
                <mapping class="com.ag.model.LogAuditoria"/>               


  </session-factory>

</hibernate-configuration>
